[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openapi2jsonschema = {git = "https://github.com/larsks/openapi2jsonschema"}

[dev-packages]

[requires]
python_version = "3.11"
